@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  line-height: 1.5;
  caret-color: #2563eb;
}

pre {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}